.button {
  font-size: 1.5rem;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(148, 3, 3);
  color: white;
}

.button:hover {
  transform: scale(0.95);
}

.button:focus-visible {
  outline: none;
}
